body{
    background-color: #0a0a0a;
    background-image: radial-gradient(ellipse at top left, #094074 0%, rgba(0, 0, 0, 0) 50%);
    background-repeat: no-repeat;
}

.data-rs-scroll-lock {
    position: relative; /* Fixiere den Root-Container */
    margin-right: 0 !important; /* Entferne Scrollbar-Ausgleich */
    padding-inline: 1.25rem !important; /* Erhalte den gewünschten Abstand */
}